body {
  margin-top: 100px;
}

h1 {
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-size: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.my-name {
  font-size: 80px;
}
.fixed-top {
  position: fixed;
}
.MJ-inicial {
  display: center;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.primary-link {
  background-color: #6c63ff;
  color: white;
  text-decoration: none;

  padding: 10px 20px;
}
.primary-link :hover {
  color: white;
  text-decoration: none;
}
.contact-selection {
  display: block;
  margin: 0px auto;
}

@media (max-width: 768px) {
  .mari-an {
    display: block;
    margin: 0px auto;
  }
}
@media (min-width: 576px) {
  .col-sm-6 {
    display: block !important;
    margin-top: 0px auto;
  }
}
